body {
    background-image: url("blue-sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 5em;
    font-family: -apple-system;
}

p {
    font-family: fantasy;
    text-align: center;
    position: relative;
    display: inline;
}