@charset "UTF-8";


nav {
    background-image: url("blue-sea.jpg");
    background: no-repeat;
}


/* body {
    background-image: url("blue-sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
html {
    background-color: rgb(129, 169, 237);
}


/* form styles */

form {
    padding: 10px;
}
/* H1 */

h1 {
    text-align: center;
}
