@charset "UTF-8";
nav {
    background-image: url("blue-sea.jpg");
    background: no-repeat;
}


/* body {
    background-image: url("blue-sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */


/* form styles */

form {
    padding: 10px;
}


/* H1 */

h1 {
    text-align: center;
}